version: '3'

services:
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    network_mode: host
    user: "${UID}:${GID}"
    command: ./beesinthetrap --auto
    volumes:
      - .:/usr/src/app