version: '3'

services:
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    network_mode: host
    user: "${UID}:${GID}"
    command: ["/bin/bash", "/etc/startup.sh"]
    volumes:
      - .:/usr/src/app
      - ./docker/php/startup.sh:/etc/startup.sh